{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Zelda Breath Of The Wild</h1>
        <p>Zeruda no Densetsu Buresu obu za Wairudo?) es el título oficial del videojuego de acción-aventura de la serie The Legend of Zelda, desarrollado por Nintendo EPD (división de Nintendo creada por la unión de Nintendo EAD, Nintendo Software Planning & Development), en colaboración con Monolith Soft para Wii U y Nintendo Switch.1​ Es la décimo octava entrega de la serie y la tercera en utilizar gráficos en alta definición (la primera fue The Legend of Zelda: The Wind Waker HD y la segunda es The Legend of Zelda: Twilight Princess HD). Se lanzó el 3 de marzo de 2017 para Wii U y Nintendo Switch.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/link.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}